.cont-key-board-numeric {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid white;
  border-radius: 7px;
  background-color: black;
}
.cont-key-board-numeric > input {
  height: 30px;
  width: 150px;
  font-size: 25px;
}
.key-board-numeric {
    display: grid;
    width: 160px;
    height: 207px;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
}
.key-board-numeric > button {
  color: white;
  margin: 1px;
  height: 50px;
  width: 50px;
  background-color: #3e5760;
}