.menu-wifi {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: grey;
  animation: mover 2s ease;
  overflow: auto;
}
@keyframes mover {
  from {
    height: 0px;
  }
  to {
    height: 100%;
  }
}

.menu-wifi > div{
  padding: 30px 5px 0px 5px;
  font-size: 20px;
}

.menu-wifi > div > div{
  display: flex;
  flex-direction: column;

}
.btn-wifi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 20px;
  width: fit-content;
}
